{% extends '::mobile-base.html.twig' %}

{% block content%}
{% set maxday = todate("t",timestamp) %}
{% set thismonth = getdate(timestamp) %}
{% set startday = thismonth['wday'] %}
{% set endday = maxday+startday %}
{% spaceless %}
<div class="ui-datebox-gridheader">
	<div class="ui-datebox-gridminus ui-btn ui-btn-up-a ui-btn-inline ui-btn-icon-notext ui-btn-corner-all ui-shadow" title="Previous Month" data-theme="a">
		<span class="ui-btn-inner ui-btn-corner-all">
			<a href="{{ path('AcmeMobileBundle_viewCalendar', {'id':nav['id'], 'year':nav['prev']['year'], 'month':nav['prev']['month']}) }}">
				<span class="ui-icon ui-icon-minus ui-icon-shadow"></span>
			</a>
		</span>
	</div>
	<div class="ui-datebox-gridplus ui-btn ui-btn-inline ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" title="Next Month" data-theme="a">
		<span class="ui-btn-inner ui-btn-corner-all">
			<a href="{{ path('AcmeMobileBundle_viewCalendar', {'id':nav['id'], 'year':nav['nxt']['year'], 'month':nav['nxt']['month']}) }}">
				<span class="ui-icon ui-icon-plus ui-icon-shadow"></span>
			</a>
		</span>
	</div>
	<div class="ui-datebox-gridlabel">
		<h4>{{ date['month'] }} {{ date['year'] }}</h4>
	</div>
</div>
<div class="ui-datebox-grid" style="margin: 0 auto;width: 276px;">
	<div class="ui-datebox-gridrow">
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Su</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Mo</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Tu</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">We</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Th</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Fr</div>
	<div class="ui-datebox-griddate ui-datebox-griddate-empty ui-datebox-griddate-label">Sa</div>
	</div>
{% for i in range (0,endday) %}
	{% set day = (i - startday + 1) %}
	{% if((i % 7) == 0 ) %}<div class="ui-datebox-gridrow">{% endif %}
	{% if(i < startday ) %}
		<div class="ui-datebox-griddate ui-datebox-griddate-empty"></div>
	{% else %}
		<a href="{{ path('AcmeMobileBundle_viewTaskDay', { 'year':nav['prev']['year'], 'month':nav['prev']['month'], 'day':(i - startday + 1)}) }}">
			<div class="ui-datebox-griddate ui-corner-all ui-btn-up-{% if(timeline[day] is defined) %}e{% else %}a{% endif %}">{{ (i - startday + 1) }}</div></a>
		 {% set timestamp =  totime("+1 day",timestamp) %}
	{% endif %}
	{% if((i % 7) == 6 ) %} </div> {% endif %}
	
{% endfor %}
</div>
{% endspaceless %}
{% endblock %}