<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title '' %}</title>
        <link href="{{ asset('bundles/framework/css/exception_layout.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
        <style>
        .sf-exceptionreset .block_exception_detected .text_exception {width: 361px;float: right;top: -403px;}
        .sf-exceptionreset .close_quote {right: 0;}
        </style>
    </head>
    <body>
        <div id="content">
            <div class="header clear_fix">
                <div class="header_logo">
                    <img style="height:62px" src="{{ asset('images/logo.png') }}" alt="IVA" />
                </div>
                <div class="search">
                  <form method="get" action="{{ url('AcmeHomeBundle_homepage') }}">
                    <div class="form_row">

                      <label for="search_id">
                          <img src="{{ asset('bundles/framework/images/grey_magnifier.png') }}" alt="Search on Symfony website" />
                      </label>

                      <button type="submit">
                        <span class="border_l">
                          <span class="border_r">
                            <span class="btn_bg">Back to Home Page</span>
                          </span>
                        </span>
                      </button>
                    </div>
                   </form>
                </div>
            </div>

            {% block body '' %}
        </div>
    </body>
</html>
