<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	{% stylesheets
		'css/jquery.mobile-1.0.1.min.css'
		'css/mobile-styles.css'
		'css/jquery.mobile.datebox.css'
		'css/iva.min.css'
		filter='?yui_css,cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all">
	{% endstylesheets %}
	
	{% javascripts
			'js/jquery.mob.js'
			'js/jquery.mobile-1.0.1.min.js'
			'js/googleMaps.mobile.js'
			'js/mobile.js'
			'js/cordova-1.5.0.js'
			'js/speechrecognizer.js'
		filter='?yui_js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% block scripts %}{% endblock %}
	<script type="text/javascript" charset="utf-8">
		var voice_fail = false;
		var processin = false;
		function listn()
		{
			if(!voice_fail && !processin){
				window.plugins.speechrecognizer.init(speechInitOk, speechInitFail);
			}
		}

    function speechInitOk() {
    	processin = true;
        supportedLanguages();
        recognizeSpeech();
    }
    function speechInitFail(m) {
        alert(m);
        voice_fail = true;
    }

    // Show the list of the supported languages
    function supportedLanguages() {
        window.plugins.speechrecognizer.getSupportedLanguages(function(languages){
                // display the json array
                alert(languages);
            }, function(error){
                alert("Could not retrieve the supported languages");
        });
    }

    function recognizeSpeech() {
        var requestCode = 1234;
        var maxMatches = 5;
        var promptString = "Please say a command";  // optional
        var language = "en-US";                     // optional
        window.plugins.speechrecognizer.startRecognize(speechOk, speechFail, requestCode, maxMatches, promptString, language);
    }

    function speechOk(result) {
        var respObj, requestCode, matches;
        if (result) {
            respObj = JSON.parse(result);
            if (respObj) {
                var matches = respObj.speechMatches.speechMatch;
					//open selectbox
					openSelect(matches);
            }        
        }
        processin = false;
    }
	function openSelect(matches){
		$("#select-choice-1 option").remove();
		for (x in matches) {
			$("#voice-choices").append('<option value="'+matches[x]+'">'+matches[x]+'</option>');
		}
		$('#voice-choices').selectmenu('refresh', true);
		$('#voice-choices').selectmenu('open');
	}
	$("#voice-choices").bind( "change", function(event, ui) {
		$("#form_task").val($(this).find("option:selected").text());
	});
    function speechFail(message) {
        console.log("speechFail: " + message);
    }
	function didyoumean(that){
		$('#form_task').val(that.innerHTML);
		$(that).parent().remove();
	}
	function selectLocation(name,id){
		$('#form_task_loc_id').val(id);
		$('#venues-list').find('li').remove();
		$('#venues-list').append($('<li>Location: '+name+'</li>'));
	}
	{% block js %}{% endblock %}
	</script>
	
</head>
<body>
<div data-role="page" id="{% block pageId %}main{% endblock %}">
{% block header %}
{% if app.session.hasFlash('success') %}
	<div data-role="header" data-theme="e" class="ui-header ui-bar-e" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">{{ app.session.flash('success') }}</h1>
		<a href="{{ path('AcmeMobileBundle_homepage') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home" data-theme="f">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text">Home</span>
				<span class="ui-icon ui-icon-home ui-icon-shadow"></span>
			</span>
		</a>
	</div>
{% elseif app.session.hasFlash('error') %}
	<div data-role="header" data-theme="e" class="ui-header ui-bar-e" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">{{ app.session.flash('error') }}</h1>
		<a href="{{ path('AcmeMobileBundle_homepage') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home" data-theme="f">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text">Home</span>
				<span class="ui-icon ui-icon-home ui-icon-shadow"></span>
			</span>
		</a>
	</div>
{% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div data-role="header" data-theme="a">
		{% if app.request.attributes.get('_route') != 'AcmeMobileBundle_homepage' %}
		<a href='#' class='ui-btn-left' data-icon='arrow-l' onclick="history.back(); return false">Back</a>
		{% endif %}
		<h1>IVA</h1>
		<a href="{{ path('AcmeMobileBundle_homepage') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-f" title="Home" data-theme="f">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text">Home</span>
				<span class="ui-icon ui-icon-home ui-icon-shadow"></span>
			</span>
		</a>
	</div>
{% else %}
	<div data-role="header" data-theme="a">
		<h1>IVA</h1>
	</div>
{% endif %}
{% endblock %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% block navigation %}
<div data-role="navbar">
	<ul>
		<li><a href="{{ path('AcmeMobileBundle_homepage') }}" {% if app.request.attributes.get('_route') == 'AcmeMobileBundle_homepage' %}class="ui-btn-active"{% endif %}>Run</a></li>
		<li><a href="{{ path('AcmeLearningBundle_homepage') }}" {% if app.request.attributes.get('_route') == 'AcmeLearningBundle_homepage' %}class="ui-btn-active"{% endif %}>Learn</a></li>
	</ul>
</div><!-- /navbar -->
{% endblock %}
{% endif %}
	<div data-role="content">
			{% block content %}{% endblock %}
	</div>		

</div>
{% block javascripts %}{% endblock %}
<script type="text/javascript" >
$(document).ready(function() {

	if (window.android){
		window.android.loadCompleate();
	} else {
		$("#speakBtn").parent().hide();
	}
	$("#voice-choices").parent().hide();
});
</script>
</body>
</html>
​