<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-modal.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
{% form_theme notification_form 'AcmeTaskBundle:Dash:fields.html.twig' %}
<form class="thumbnail form-horizontal" action="{{ path('AcmeNotificationsBundle_edit_id' , { "id": id}) }}" method="post" {{ form_enctype(notification_form) }}>
<fieldset>
	<legend>Notification</legend>
	{{ form_widget(notification_form) }}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Save changes</button>
		<button type="reset" class="btn">Cancel</button>
	</div>
</fieldset>    
</form>