{% extends '::mobile-base.html.twig' %}

{% block content%}
	<form id="addNewTask" action="{{ path('AcmeMobileBundle_addtask') }}" method="post" {{ form_enctype(form) }}>
	<input type="text" x-webkit-speech autocomplete="off" spellcheck="false" x-webkit-grammar="builtin:search" lang="en" id="form_task" name="task" required="required" maxlength="255" pattern=".{3,255}" placeholder="What, Where, When" value="{{ task.task }}" />
	<input type="hidden" id="lng" name="lng" value="{{ task.lng }}" />
	<input type="hidden" id="lat" name="lat" value="{{ task.lat }}" />
	<input type="hidden" id="form_task_loc_id" name="loc_id" />
   <button type="submit" class="btn primary">Add</button>
   <span>
   {% if didyoumean is not empty %}Did you mean? "<span id="did-you-mean" onClick="didyoumean(this)">{{ didyoumean }}</span>"{% endif %}
   </span>
</form>
{% if venues is defined %}
<ul data-role="listview" data-theme="g" style="margin-top: 5px;">
	<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-btn-up-undefined">Suggestions</li>
{% for venue in venues %} 
	<li><a href="#" onClick="selectLocation('{{ venue.name }}','{{ venue.id }}')">{{ venue.name }} <small> ({{ venue.lat }},{{ venue.lng }})</small></a></li>
{% endfor %} 
</ul>
{% endif %}
{% endblock %}