{% extends '::errorLayout.html.twig' %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
<div class="sf-exceptionreset">
    <div class="block_exception">
        <div class="block_exception_detected clear_fix" style="height: 424px;">
        		<div id="background">
            	<img alt="Exception detected!" style="width: 100%;" src="{{ asset('images/error-page.jpg') }}"/>
            </div>
            <div class="text_exception">

                <div class="open_quote">
                    <img alt="" src="{{ asset('bundles/framework/images/open_quote.gif') }}"/>
                </div>

                <h1>
                    {{ exception.message|e|replace({"\n": '<br />'})|format_file_from_text }}
                </h1>

                <div class="close_quote">
                    <img alt="" src="{{ asset('bundles/framework/images/close_quote.gif') }}"/>
                </div>

            </div>
        </div>
    </div></div>
{% endblock %}