{% extends '::mobile-base.html.twig' %}

{% block pageId %}edit_location{% endblock %}

{% block header %}
{% if app.session.hasFlash('success') %}
	<div data-role="header" data-theme="e" class="ui-header ui-bar-e" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">{{ app.session.flash('success') }}</h1>
	</div>
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block content%}
<form action="{{ path('AcmeLearningBundle_editLocation' , { 'id' : id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <span class="note">select the marker to point a position</span>
	<button type="submit" data-theme="a" class="ui-btn-hidden" aria-disabled="false">Submit</button>
	<button type="submit" name="action" value="delete" data-role="button" data-icon="delete">Delete</button>
</form>
<div id="map_canvas" style="width: 100%;height: 200px;"></div>
{% endblock %}