{% extends '::mobile-base.html.twig' %}


{% block header %}
{% if app.session.hasFlash('success') %}
	<div data-role="header" data-theme="e" class="ui-header ui-bar-e" role="banner">
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">{{ app.session.flash('success') }}</h1>
	</div>
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block content%}
<ul data-role="listview" data-theme="g">
	<li><a href="{{ path('AcmeLearningBundle_addLocation') }}">Add New Location</a></li>
{% for location in locations %}
	<li><a href="{{ path('AcmeLearningBundle_addLocation' , { 'title' : location.title } ) }}" >{{ location.title }}</a></li>
{% endfor %}
	<li data-role="list-divider" role="heading">My Custom Locations</li>
{% for location in mylocations %}
	<li><a href="{{ path('AcmeLearningBundle_editLocation' , { 'id' : location.id } ) }}" >{{ location.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}